<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f89400f4c8.js" crossorigin="anonymous"></script>
  <title>Mercado Liebre</title>
</head>

<body>
  <header>
    <div class="alineado">
      <div class="logo">
        <img src="/img/logo-mercado-liebre.svg" alt="logo mercado liebre">
      </div>

      <div class="contenedor-busqueda">
        <i class="fas fa-search"></i>
        <input type="search" placeholder="buscar productos, marcas">
      </div>
      <h4><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito</h4>
    </div>
    <div>
      <div class="columna-1">
        <a href="">Todos los productos</a>
        <a href="">Ofertas</a>
        <a href="">Tiendas oficiales</a>
        <a href="">Vender</a>
        <a href="">Ayuda</a>
      </div>

      <div class="columna-2">
        <a href='/registrate'>Crea tu cuenta <i class="fas fa-address-card"></i></a>
        <a href='/ingreso'>Ingresa <i class="fas fa-arrow-right"></i></a>
        <a href="">Mis compras <i class="fas fa-shopping-basket"></i></a>
      </div>
    </div>
  </header>
  <main>
    <img src="img/img-home-banner.jpg" alt="" class="banner">
    <h2>Basado en su última visita</h2>
    <div class="cont-prod">
    <div class="productos">
      <div class="input-like photo" style="background-image: url('img/img-cafetera-moulinex.jpg');">
        <div class="nombre-producto">Cafetera eléctrica</div>
        <span class="text">$11399 <p class="p-verde"> 10% off</p> </span>
        <i class="fa-solid fa-truck" style="color:#39b54a"></i>
      </div>
      <div class="input-like photo" style="background-image: url('img/img-tv-samsung-smart.jpg');">
        <div class="nombre-producto">Samsung smart tv</div>
        <span class="text">$14.000 <p class="p-verde"> 15% off</p></span>
        <i class="fa-solid fa-truck" style="color:#39b54a"></i>
      </div>
      <div class="input-like photo" style="background-image: url('img/img-macbook-pro-2019.jpg');">
        <div class="nombre-producto">MacBook Pro 2019</div>
        <span class="text">$190.000 <p class="p-verde"> 10% off</p></span>
        <i class="fa-solid fa-truck" style="color:#39b54a"></i>
      </div>
      <div class="input-like photo" style="background-image: url('img/img-samsung-galaxy-s10.jpg');">
        <div class="nombre-producto">Samsung galaxy s10</div>
        <span class="text">$40.000 <p class="p-verde"> 5% off</p></span>
        <i class="fa-solid fa-truck" style="color:#39b54a"></i>
      </div>
    </div>
    <div class="espaciador-"></div>
    <div class="productos-2">
      <div class="input-like photo" style="background-image: url('img/download-3.jpg');">
        <div class="nombre-producto">mouse inalámbrico logi</div>
        <span class="text">$8.500 <p class="p-verde"> 30% off</p></span>
        <i class="fa-solid fa-truck" style="color:#39b54a"></i>
      </div>
      <div class="input-like photo" style="background-image: url('img/images.jpg');">
        <div class="nombre-producto">JBL flip 5</div>
        <span class="text">$20.000 <p class="p-verde"> 5% off</p></span>
        <i class="fa-solid fa-truck" style="color:#39b54a"></i>
      </div>
      <div class="input-like photo" style="background-image: url('img/download.jpg');">
        <div class="nombre-producto">Teclado Mac inalámbrico</div>
        <span class="text">$17.999 <p class="p-verde"> 25% off</p> </span>
        <i class="fa-solid fa-truck" style="color:#39b54a"></i>
      </div>
      <div class="input-like photo" style="background-image: url('img/download-2.jpg');">
        <div class="nombre-producto">Apple TV</div>
        <span class="text">$16.000 <p class="p-verde"> 40% off</p> </span>
        <i class="fa-solid fa-truck" style="color:#39b54a"></i>
      </div>
    </div>
    <div class="espaciador-"></div>
    <div class="productos-3">
      <div class="input-like photo" style="background-image: url('img/images-5.jpg');">
        <div class="nombre-producto">Teclado Arturia KeyLab 88</div>
        <span class="text">$300.000 <p class="p-verde"> 10% off</p></span>
        <i class="fa-solid fa-truck" style="color:#39b54a"></i>
      </div>
      <div class="input-like photo" style="background-image: url('img/images-3.jpg');">
        <div class="nombre-producto">Apogee symphony</div>
        <span class="text">$100.000 <p class="p-verde"> 8% off</p></span>
        <i class="fa-solid fa-truck" style="color:#39b54a"></i>
      </div>
      <div class="input-like photo" style="background-image: url('img/download-4.jpg');">
        <div class="nombre-producto">Impresora cannon</div>
        <span class="text">$19.999 <p class="p-verde"> 5% off</p> </span>
        <i class="fa-solid fa-truck" style="color:#39b54a"></i>
      </div>
      <div class="input-like photo" style="background-image: url('img/download-5.jpg');">
        <div class="nombre-producto">Bicicleta mountain bike</div>
        <span class="text">$16.000 <p class="p-verde"> 10% off</p> </span>
        <i class="fa-solid fa-truck" style="color:#39b54a"></i>
      </div>
    </div>
    
    </div>
   
  </main>
  <footer>
    <div class="f1">
      <div class="icono-tarjeta">
        <i class="fa-solid fa-credit-card fa-2xl"></i>
      </div>
      <div>
        <h3>Paga con tarjeta o efectivo</h3>
      </div>
      <div>
        <p>Con Mercado Liebre Cash tienes cuotas <br>
           sin interés con tarjeta o efectivo en puntos de pago.<br>
            ¡Y siempre es seguro!</p>
      </div>
    </div>
    <div class="f2">
      <div class="icono-regalo">
        <i class="fa-solid fa-gift fa-2xl"></i>
      </div>
      <div>
        <h3>Envíos gratis desde los $2.500</h3>
      </div>
      <div>
        <p>Solo por estar registrado en Mercado Liebre <br>
          tienes envíos gratis en miles de productos.<br>
           Es un beneficio de Mercado Liebre.</p>
      </div>
    </div>
    <div class="f3">
      <div class="icono-seguridad">
        <i class="fa-solid fa-user-shield fa-2xl"></i>
      </div>
      <div>
        <h3>Seguridad de principio a fin</h3>
      </div>
      <div>
        <p>No te gusta? ¡Devuélvelo! <br>
          En Mercado Liebre no hay nada que no puedas <br>
          hacer porque estás siempre protegido.</p>
      </div>
    </div>
  </footer>
  <p class="p2">© 1999-2023 MercadoLibre S.R.L.</p>
</body>

</html>
