<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/registrate.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f89400f4c8.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
  
    <header>
      <div class="alineado">
        <div class="logo">
          <img src="/img/logo-mercado-liebre.svg" alt="logo mercado liebre">
        </div>
  
        <div class="contenedor-busqueda">
          <i class="fas fa-search"></i>
          <input type="search" placeholder="buscar productos, marcas">
        </div>
        <h4><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito</h4>
      </div>
      <div>
        <div class="columna-1">
          <a href="">Todos los productos</a>
          <a href="">Ofertas</a>
          <a href="">Tiendas oficiales</a>
          <a href="">Vender</a>
          <a href="">Ayuda</a>
        </div>
  
        <div class="columna-2">
          <a href="">Crea tu cuenta <i class="fas fa-address-card"></i></a>
          <a href='/ingreso'>Ingresa <i class="fas fa-arrow-right"></i></a>
          <a href="">Mis compras <i class="fas fa-shopping-basket"></i></a>
        </div>
      </div>
    </div>
  </header>
  <main>

    <form action="/registro" method="POST" class="formulario">
            
      <br>
      <br>
      <input type="text" placeholder="Nombre y apellido" class="nombre">
      <input type="text" placeholder="Nombre de usuario" class="nombre" >
      <input type="email" placeholder="E-mail" class="nombre">
      
      <h5>Fecha de nacimiento</h5>

      <input type="date" class="fecha">
    
      <input type="text" placeholder="domicilio" class="nombre" >
      
      <h5 class="intereses-1">Perfil De Usuario</h5>
      
      <label> Comprador</label>
      <input type= "radio" name="opcion" value="comprador">
      <label> Vendedor</label>
      <input type="radio" name="opcion" value="vendedor">
      <h5 class="intereses-1">Intereses</h5>
    <div class="seccion">
      <label>Electro</label>
      <input type="checkbox" name="combo"value="Electro" checked/>
      
      <label>Moda</label>
      <input type="checkbox" name="combo" value="Moda" />
      <label>Hogar</label>
      <input type="checkbox" name="combo" value="Hogar" />
      <label>Jugueteria</label>
      <input type="checkbox" name="combo" value="Jugueteria" />
      <label>Vida sana</label>
      <input type="checkbox" name="combo" value="Vida Sana" />
    </div>
  </form>

  </main>
  <footer>
    <div class="f1">
      <div class="icono-tarjeta">
        <i class="fa-solid fa-credit-card fa-2xl"></i>
      </div>
      <div>
        <h3>Paga con tarjeta o efectivo</h3>
      </div>
      <div>
        <p>Con Mercado Liebre Cash tienes cuotas <br>
           sin interés con tarjeta o efectivo en puntos de pago.<br>
            ¡Y siempre es seguro!</p>
      </div>
    </div>
    <div class="f2">
      <div class="icono-regalo">
        <i class="fa-solid fa-gift fa-2xl"></i>
      </div>
      <div>
        <h3>Envíos gratis desde los $2.500</h3>
      </div>
      <div>
        <p>Solo por estar registrado en Mercado Liebre <br>
          tienes envíos gratis en miles de productos.<br>
           Es un beneficio de Mercado Liebre.</p>
      </div>
    </div>
    <div class="f3">
      <div class="icono-seguridad">
        <i class="fa-solid fa-user-shield fa-2xl"></i>
      </div>
      <div>
        <h3>Seguridad de principio a fin</h3>
      </div>
      <div>
        <p>No te gusta? ¡Devuélvelo! <br>
          En Mercado Liebre no hay nada que no puedas <br>
          hacer porque estás siempre protegido.</p>
      </div>
    </div>
  </footer>
  <p class="p2">© 1999-2023 MercadoLibre S.R.L.</p>
</body>

</html>

  
